/*      
https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 
https://fonts.google.com
*/


@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:ital,wght@1,100&display=swap');


body {
    margin: 0;
    background-color: #001219;
    color: #94D2BD;
    

}

h1 {
  font-family: 'Aboreto', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}

/*nav a {
    display: block;
    width: 60px;
    background-color: #dddddd;
    padding-top: 50px;
    position: sticky;
    
    
}*/

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 80%;
  overflow: auto;
}

nav a {
  display: block;
  color: #94D2BD;
  padding: 20px 16px;
  text-decoration: none;
}

#background {
    min-width: 100%;
    background-color: #0A0A0A;
    text-align: center;
    padding: 10px;
    
}

/*
#bann-mess h1 {
    
    /*position: absolute;
    top: 100px;
    left: 190px;
    background-color: black;

}


#bann-mess p {
  
  position: absolute;
  top: 150px;
  left: 250px;
  background-color: black;

}


#profile {
    position: absolute;
    top: 70px;
    right: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    
}
*/

#profile img {
  border-radius: 50px;
}

#profile p {
    color: white;
    
}

article * {
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


#a {
  grid-column: 2/4;
  
}

#a p, #b p, #c p {
  text-align: center;
}

#b {
  grid-column: 5/7;
}

#c {
  grid-column: 8/10;
}

footer {
    background-color: #005F73;
}